<h1>Concertz</h1>

<% Concert.all.sort_by {|x| x.concert_date }.each do |concert| %>
  <p><%= "#{concert.artist.name} - #{concert.location} - #{concert.concert_date} - #{concert.ticket_price}"%></p>
<% end %>

<p><a href="/artists"></a></p>
<p><a href="/login"></a></p>
<p><a href="/signup"></a></p>
