<div class="concert-list">
  <% Concert.all.sort_by {|x| x.concert_date }.each do |concert| %>
    <p><%= "#{concert.artist.name} - #{concert.location} - #{concert.concert_date.strftime("%m/%d/%Y")} - $#{sprintf("%1.2f", concert.ticket_price)}"%></p>
  <% end %>
</div>
