<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Concertz</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <header>
      <h1>Concertz</h1>
      <ul>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign up</a></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
